body{font-family: 'Quicksand', sans-serif;
}

/**************NAVIGATION**************/

.nav{
  background-color: rgba(0, 0, 0);
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navLink{
font-size: 2rem;  
text-decoration: none;
color: white;
padding: 10px;
}




 /* Estilos para dispositivos móviles */
@media screen and (max-width: 430px) {
  .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .navLink{
    font-size: 1.725rem;
  }
}



/**************BACKGROUND**************/

.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./components/Images/welcome.jpg');
  background-repeat: no-repeat;
  background-size: 850px 850px;
  background-position: top;
  height:700px;
  width: 100%;
}

.banner-container {
  height:700px;
  width: 100%; 
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 430px) {
  .contenedor {
    background-size: cover;
    background-size: 100%;
    height: 400px;
  }

}

/**************Letrero**************/
  .banner-text {
    font-size: 8em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .banner-text span{
letter-spacing: 5px;
background-image: linear-gradient(to right, #6699cc, #336699, #cb88d2); 
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent; 
background-clip: text; 
}
    
  @keyframes fadeInLetter {
	0% {
	  opacity: 0;
	  transform: translateY(10px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .banner-text span {
	opacity: 0;
	animation: fadeInLetter 0.8s ease-in-out forwards;
  color: black;
  }

/* Estilos para dispositivos móviles */
@media screen and (max-width: 430px) {
  .banner-text {
    align-items: center;
    margin-bottom: 250px; /* Ajusta el margen inferior según tus necesidades */
    font-size: 1.7rem;
  }
}











  
/**************POSTS**************/
.list-container{
  flex-direction: column;
  display: flex;
  align-items: center;

}
.post-section{
  display: flex;
  flex-direction: column;
}
.header-posts{
 font-size: 3rem;
 padding: 50px;
 margin: 0 auto;
}

.posts-container{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(2, 1fr);
 grid-column-gap: 50px;
 grid-row-gap: 50px;
}

.post{
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  
 }
 
.post-image {
  width: 300px;
  height: 350px;
  margin: 0%;
  border: 0%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay,
.image-container:active .overlay {
  opacity: 1;
}

.link-posts{
text-decoration: none;
}


@media screen and (max-width: 430px) {
  .header-posts{
    font-size: 1.7rem;
  }
  .post-image {
    width: 250px;
    height: 350px;
    margin: 0%;
    border: 0%;
  }
  .posts-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
   }
}











/**************Posts Archivo**************/
.body-blog{
  background-color: #6ab8d5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-archive{
  margin-top: 125px;
 }
 
 .image-container-archive{
  position: relative;
  overflow: hidden;
  border-radius: 5%;
}

.post-image-archive {
  width: 500px;
  height: 100%;
  margin: 0%;
  border: 0%;
}

.overlay-archive{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container-archive:hover .overlay-archive,
.image-container-archive:active .overlay-archive {
  opacity: 1;
}

.overlay-text-archive {
  font-size: 16px;
  text-align: center;
}

.titles-archive{
  text-align: center;
  font-size: 1rem;
  margin: 0%;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, rgba(102, 153, 204, 0.5), rgba(51, 102, 153, 0.5), rgba(203, 136, 210, 0.5));
  color: black;
  font-weight: bold;
}
.texto-detail{
  white-space: pre-wrap;
  font-size: 20px;
  text-align: center;
}


@media screen and (max-width: 430px) {
  .post-image-archive {
    width: 5px;
  }



}


















/**************Detail**************/


.container-detail {
  max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
  margin:100px auto; 
  background-color: #f9f9f9;
  border-radius: 8px;
}

.blog-post {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-image-full {
  width: 100%;
  max-height: 400px; 
  object-fit: cover;
  border-radius: 8px;
}

.title-detail {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 15px;
}



/* Estilos para dispositivos móviles */
@media screen and (max-width: 430px) {

  .container-detail {
    width: 80%; /* Ajusta la altura máxima según tus necesidades */
  }
  .texto-detail{
    font-size: 1rem;
  }

}




  












/**************Footer**************/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title{
  font-size: 3rem;
}

.email{
  text-decoration: none;
  color: #333;
}
.creator{
  text-decoration: none;
  color: #333;
}

.icon{
  width: 50px; 
  height: 50px; 
  padding: 5px;
}

@media screen and (max-width: 600px){
  .footer-title{
    font-size: 1.7rem;
  }
  .copyright{
    font-size: 0.5rem;
    padding: 10px;
  }

}























/**************Nosotros**************/
.us{
  background-color: beige;
}
.container {
  text-align: center; /* Añadimos margen automático en los lados para centrar horizontalmente */
  align-items: center; /* Centramos verticalmente */
  justify-content: center; /* Centramos horizontalmente */
  height: 400px; /* Establecemos una altura del contenedor para ocupar toda la pantalla verticalmente */
  background-color:rgba(51, 51, 51, 0.2);
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 2%;
  margin-bottom: 50px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin: 0 auto;
  margin-top: 150px;
}

p {
  margin-top: 70px;
  color: #666;
  text-align:center;
  font-size: 1.5em;
}

.nosotros-footer{
  margin-top: 300px;
}